Flask==2.2.2
Flask-SQLAlchemy==2.5.1
Flask-Admin==1.6.1
psycopg2-binary==2.9.3
gunicorn==20.1.0
Werkzeug==2.2.3
SQLAlchemy==1.4.46
Jinja2==3.1.6
itsdangerous==2.2.0
click==8.2.1
MarkupSafe==3.0.2
greenlet==3.2.2
wtforms==3.2.1
python-dotenv==1.0.1