<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}AuraCheelZone{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <header class="container">
    <h1>AuraCheelZone</h1>
  </header>
  <nav class="container">
    <a href="{{ url_for('routes.index') }}">Главная</a>
    <a href="{{ url_for('routes.menu') }}">Меню</a>
    <a href="{{ url_for('routes.about') }}">О нас</a>
    <a href="{{ url_for('routes.booking') }}">Бронирование столиков</a>
    <a href="{{ url_for('routes.cart') }}">Корзина</a>
    <a href="{{ url_for('routes.promotions') }}">Акции</a>
  </nav>
  <main class="container">
    {% block content %}
    <!-- Содержимое страницы -->
    {% endblock %}
  </main>
  <footer class="container">
    <p>&copy; 2025 AuraCheelZone. Все права защищены.</p>
  </footer>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>
</html>
